.card-hover-effect:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

body {
    padding-top: 72px;
}
@media (max-width: 992px) {
    body {
        padding-top: 56px;
    }
}

@media (min-width: 300px) {
    /* Medium devices and up */
    .navbar-brand {
        font-size: 1rem;
    }
}

@media (min-width: 400px) {
    /* Medium devices and up */
    .navbar-brand {
        font-size: 1.2rem;
    }
}

@media (min-width: 992px) {
    /* Large devices and up */
    .navbar-brand {
        font-size: 1.5rem;
    }
}

.iframe-container {
    position: relative;
    overflow: hidden;
    width: 90%;
    padding-top: 56.25%;
}

.map-container {
    position: relative;
    overflow: hidden;
    width: 90%;
    padding-top: 50%;
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.responsive-iframe2 {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 9;
}

mark {
    background-color: #ff0;
    color: black;
    padding: 0;
}
