/* page.css */
/* In your page.css file */
.larger-text {
    font-size: 1.2rem; /* Adjust the font size as needed */
}

@keyframes blink-cursor {
    0%,
    100% {
        border-right-color: transparent;
    }
    50% {
        border-right-color: #4b1e9d;
    }
}

@keyframes typewriter {
    from {
        width: 0;
    }
    to {
        width: auto;
    }
}
